.customInput {
  font-size: var(--font-14);
  font-weight: 500;
  color: #1E1F21;
  padding: 18px 38px 6px 16px;
  background: #ffffff;
  border: 1px solid #afabac;
  border-radius: 6px;
}

.customInput  .ant-input {
  transition: none;
}

.customInput :not(.ant-input-affix-wrapper-disabled):hover {
  border-color: var(--dark);
}
.customInput:focus {
  border-color: var(--dark);
  box-shadow: none;
}

.customInput .ant-input-suffix {
  position: absolute;
}

.customInputPassword .ant-input-affix-wrapper-focused {
  border-color: var(--dark);
  box-shadow: none;
}
.customInputPassword .ant-input-suffix {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
}